.content-wrapper__inner {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

.content-wrapper__inner > div {
    position: relative;
}

/* Main content */
.content-wrapper__inner > :first-child {
    flex: 1;
    width: auto !important;
    margin: 0;
    display: flex;
    min-height: auto;
    float: none;

    display: flex;
    flex-direction: column;
}

.content-wrapper__inner > :first-child > :first-child {
    flex: 1;
}

#html5-player {
    display: flex;
}

#html5-player > div {
    flex: 1;
    display: flex;
}

.htmlplayer-container {
    width: 100%;
    position: relative !important;
    display: flex;
}

app-player-group {
    display: flex;
    flex: 1;
}

.playerWrapper {
    padding: 0 !important;
    flex: 1 !important;
}

/* Video title */
.content-wrapper__inner > :first-child > :last-child {
    padding-top: 0;
}

.content-wrapper__inner > :first-child > :last-child > div {
    margin: 0;
    border-radius: 0;
    width: auto;
    max-width: 100%;
    padding: 20px 0;
}

.content-wrapper__inner > :first-child > :last-child > div span {
    display: inline;
}

.content-wrapper__inner > :first-child > :last-child > div span:first-child {
    font-size: 22px;
    line-height: normal;
    margin-right: 20px;
}

.content-wrapper__inner
    > :first-child
    > :last-child
    > div
    span:first-child::after {
    content: "â—";
    margin-left: 20px;
}

.content-wrapper__inner > :first-child > :last-child > div span:last-child {
    font-size: 16px;
}

/* Sidebar */
.content-wrapper__inner > :last-child {
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Camera selector buttons */
.content-wrapper__inner > :last-child button {
    border-radius: 0;
}
