._28ubt {
    grid-template-columns: auto 200px !important; /* Reduce sidebar width */
    grid-template-rows: 100% !important; /* Remove title card area below video player */
    position: relative !important; /* For positioning the title bar */
}

/* Sidebar */

._28ubt div[role="list"] button[type="button"] {
    border-radius: 0;
}

/* /Sidebar */

/* Title bar */

._30S_w {
    position: absolute;
    top: 0;
    z-index: 501; /* The click-to-play overlay is at z-index 500 */
    border-radius: 0 !important;
    width: calc(100% - 200px) !important;

    background: rgb(36, 36, 51);
    background: linear-gradient(
        180deg,
        rgba(36, 36, 51, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    ) !important;
}

._30S_w ._1WHOy {
    /* Put text side by side to reduce height */
    display: flex;
    align-items: center;
}

._30S_w ._1WHOy span {
    /* Add spacing between the text in the title bar */
    margin: 0 30px 0 0;
}

/* /Title bar */

/* Locked controls */
#playerComponentContainer.locked-open .controlbar-container.hidden {
    opacity: 1;
    background: linear-gradient(
        0deg,
        #000,
        #000 0,
        rgba(0, 0, 0, 0.469625) 80%,
        hsla(0, 0%, 100%, 0)
    );
}

#playerComponentContainer.locked-open
    .controlbar-container.hidden
    .upstairs.hidden,
#playerComponentContainer.locked-open
    .controlbar-container.hidden
    .downstairs.hidden {
    opacity: 1;
    visibility: visible;
}

.tweaks-button {
    width: 22px;
    height: 22px;
    margin-left: 16px;
    opacity: 0.7;
}

.lock-controls-button .icon {
    display: block;
    font-family: ReplayerIcons;
    font-style: normal;
    font-weight: 400;
    display: block;
}

.lock-controls-button .icon::before {
    content: "\e98f";
}
/* /Locked controls */

/* Driver Picker */

#playerComponentContainer .searchContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9998;
    width: 50%;
    max-width: 1200px;
    max-height: 50%;
    height: 50%;
    border-radius: 8px;
    overflow: hidden;
}

#playerComponentContainer .channelPicker {
    background: rgba(202, 205, 214, 0.75);
    border: 1px solid #7e8190;
    height: 60px;
    padding: 0 20px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    display: block;
}

#playerComponentContainer .searchResult {
    list-style: none;
    width: 100%;
    background: rgba(202, 205, 214, 0.75);
    overflow: hidden;
    display: block;
    max-height: calc(100% - 60px);
    overflow: hidden;
    border: 1px solid #7e8190;
    border-top: none;
}

#playerComponentContainer .searchResult li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px 10px;
    border-bottom: 1px solid #7e8190;
    font-size: 20px;
    cursor: pointer;
}

#playerComponentContainer .searchResult li[cSearchActive] {
    background: rgba(0, 0, 0, 0.2);
}

/* /Driver Picker */
